<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_1405555135138" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
    </listener>
    <listener>
        <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    </servlet-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <!-- spring loader -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			/WEB-INF/daemons.xml 
			/WEB-INF/dispatcher-servlet.xml
			/WEB-INF/DataBaseSQLServer.xml
			
		</param-value>
    </context-param>
</web-app>